{% extends "base.html" %}
{% load static %}

{% block title %}
    GhostRun — L'application qui compare vos trajets
{% endblock %}

{% block head %}
    <script src="https://code.highcharts.com/highcharts.src.js"></script>
    <link rel="stylesheet"
          href="{% static "home_profile.css" %}"/>
{% endblock %}

{% block content %}
    <h2>Bienvenue sur votre espace membres</h2>
    <div class="grid-x">
        <div class="cell large-3 medium-4 small-5">
            <ul class="vertical menu"
                data-accordion-menu>
                {% for category in categories.all %}
                <li>
                    <a href="#">{{ category.name }}</a>
                    <ul class="menu vertical nested">
                        <li>
                            {% for trip in category.trips.all %}
                            <a href="{% url "trip-detail" trip_id=trip.id %}">Voyage à {{ trip.transport_used }} du {{ trip.started_at }}</a>
                            {% endfor %}
                        </li>
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div class="cell auto">Contenu ici</div>
    </div>

{% endblock %}