{% extends "base.html" %}
{% load static %}

{% block title %}
    GhostRun — L'application qui compare vos trajets
{% endblock %}

{% block content %}
    <h2>Form</h2>
    {% if form.subject.errors %}
    <ol>
    {% for error in form.subject.errors %}
        <li><strong>{{ error|escape }}</strong></li>
    {% endfor %}
    </ol>
{% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form }}
        <input type="submit"
               value="C'est parti!">
    </form>
{% endblock %}
