{% extends "base.html" %}
{% load static %}

{% block title %}
    GhostRun — L'application qui compare vos trajets
{% endblock %}

{% block head %}
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAm-DOjQvHA_M9ew3amcMum6OoICE8TL9w"
            type="text/javascript"></script>
    <style>

        .dashboard-number-card {
            background: #fff;
            border-radius: 5px;
            margin: 0 20px 20px;
            position: relative;
        }

        .dashboard-number-card .dashboard-number-delta {
            -webkit-align-items: baseline;
            -ms-flex-align: baseline;
            align-items: baseline;
            bottom: 6px;
            display: -webkit-flex;
            display: -ms-flexbox;
            display: flex;
            font-size: 12px;
            font-weight: 500;
            margin-bottom: 0;
            opacity: 0.7;
            position: absolute;
            right: 6px;
            color: #1779ba;
        }

        .dashboard-number-card .dashboard-number-delta i {
            margin-right: 5px;
            width: 0.6rem;
        }

        .dashboard-number-card.positive .dashboard-number-delta, .dashboard-number-card.negative .dashboard-number-delta {
            color: #fefefe;
        }

        .dashboard-number-card.positive .dashboard-number-value,
        .dashboard-number-card.positive .dashboard-number-area, .dashboard-number-card.negative .dashboard-number-value,
        .dashboard-number-card.negative .dashboard-number-area {
            color: white;
        }

        .dashboard-number-card.positive .dashboard-number-area, .dashboard-number-card.negative .dashboard-number-area {
            opacity: 0.6;
        }

        .dashboard-number-card.positive {
            background: #3adb76;
        }

        .dashboard-number-card.negative {
            background: #cc4b37;
        }

        .dashboard-number-value {
            color: #1779ba;
            font-size: 22px;
            font-weight: 800;
            padding: 1rem 2rem 1.75rem;
            text-align: center;
        }

        .dashboard-number-area {
            bottom: 6px;
            color: #1779ba;
            font-size: 12px;
            left: 6px;
            margin-bottom: 0;
            position: absolute;
        }


    </style>
{% endblock %}

{% block content %}
    <div class="grid-container fluid">
        <h2>{{ trip.name }} ({{ trip.category.name }})</h2>
        <div class="grid-x grid-padding-x">
            <div class="cell large-8">
                <div id="map_canvas"
                     style="height: 75vh">
                </div>
            </div>
            <div class="cell large-auto">
                <div id="status"></div>
                <div id="switch_div">
                    <div class="grid-x">
                        <!--<div class="cell small-6">
                            <div class="switch large">
                                <input class="switch-input"
                                       id="recordSwitch"
                                       type="checkbox"
                                       name="recordSwitch">
                                <label class="switch-paddle"
                                       for="recordSwitch">
                                    <span class="show-for-sr">Enregistrement ou non</span>
                                    <span class="switch-active"
                                          aria-hidden="true"><i class="fas fa-location-arrow"></i></span>
                                    <span class="switch-inactive"
                                          aria-hidden="true"><i class="fas fa-pause"></i></span>
                                </label>
                            </div>
                        </div>-->

                        <div class="cell auto">
                            <a class="expanded button alert"
                               href="#"
                               id="stop_recording_and_go">Fin du trajet</a>
                        </div>
                    </div>
                </div>
                <pre id="capa"></pre>
            </div>
        </div>
    </div>
    {% csrf_token %}
    <script>
        ghosts_coords = {{ ghosts_coords|safe }};

        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }

        function setStatus(polarity, message) {
            var side;
            $("#status").html(`
                <div class="dashboard-number-card ${polarity}">
                    <h5 class="dashboard-number-value">${message}</h5>
                    <div>
                        <p class="dashboard-number-area">{{ trip.category.name }}</p>

                        <p class="dashboard-number-delta">
                            <i class="fa fa-arrow-${side}"
                               aria-hidden="true"></i>
                            {{ ghosts_count }} fantômes
                        </p>
                    </div>
                </div>`)
        }
        function stop_recording() {
                $.ajax("{% url 'trip-detail' pk=trip.pk %}", {
                        method: "PATCH",
                        data: {
                            "ended_at": new Date().toISOString()
                        },
                        complete: function(jqXHR, textStatus){
                            window.location.href = "{% url 'front-trip-detail' pk=trip.pk %}";
                        }
                    })

            }

        $.ajaxSetup({
            beforeSend: function (xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", $("[name=csrfmiddlewaretoken]").val());
                }
            }
        });

        $(document).ready(function () {
            setStatus("", "Démarrage...");
            $("#stop_recording_and_go").on("click", stop_recording);
            initLocationProcedure();
        });

        function locError(error) {
            // the current position could not be located
            alert("The current position could not be found! " + error);
        }

        function watchGhostsPositions() {
            setTimeout(watchGhostsPositions, showGhostsPositions())
        }

        function showGhostsPositions() {
            var start_date = new Date("{{ trip.started_at.isoformat|escapejs }}");
            var current_date = new Date();
            var delta = (current_date - start_date) / 1000;
            //console.log("Current time is", current_date);
            //console.log("Starting time is", start_date);
            console.log("Current delta is", delta);
            var ghost_id = 0;
            let call_next = 60;
            var previous_pos
            for (var ghost_data_id in ghosts_coords) {
                ghost_data = ghosts_coords[ghost_data_id];
                var coords = ghost_data['coords']
                previous_pos = coords[0];
                for (var pos_id in coords) {
                    pos = coords[pos_id];
                    if (pos['delta'] > delta) {
                        console.log("Current call_next is", call_next)
                        console.log("Next delta is ", pos['delta'] - delta)
                        call_next = Math.min(call_next, pos['delta'] - delta);
                        ghosts_icons[ghost_id].setPosition(new google.maps.LatLng(previous_pos['lat'], previous_pos['lng']));
                        break;
                    } else {
                        previous_pos = pos;
                    }
                }
                ghost_id++
            }
            call_next = (call_next + 3) * 1000
            console.log("Next delta in", call_next);
            return call_next
        }

        function initLocationProcedure() {
            map = new google.maps.Map(document.getElementById('map_canvas'), {
                zoom: 17
            });
            var lineSymbol = {
                path: google.maps.SymbolPath.FORWARD_CLOSED_ARROW
            };

            current_location_poly = new google.maps.Polyline({
                path: {{ map_coords|safe }},
                icons: [{
                    icon: lineSymbol,
                    offset: '0%',
                    repeat: '150px'
                }],
                strokeColor: '#0dc6be',
                strokeOpacity: 0.75,
                strokeWeight: 3,
                map: map
            });

            ghosts_icons = []
            for (ghost_data_id in ghosts_coords) {
                ghost_data = ghosts_coords[ghost_data_id];
                let initial_pos = new google.maps.LatLng(ghost_data['coords'][0]['lat'], ghost_data['coords'][0]['lng']);

                ghosts_icons.push(new google.maps.Marker({
                    position: initial_pos,
                    map: map,
                    title: ghost_data['name'],
                    icon: "{% static "spooky.png" %}"
                }));
            }
            //current_location_poly.setMap(map);


            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(displayAndWatch, locError, {
                    enableHighAccuracy: true,
                    timeout: 60000,
                    maximumAge: 0
                });
            } else {
                alert("Your phone does not support the Geolocation API");
            }
        }

        function displayAndWatch(position) {
            // set current position
            setUserLocation(position);
            // watch position
            watchCurrentPosition();
            watchGhostsPositions();
        }

        function setUserLocation(pos) {
            // marker for userLocation
            userLocation = new google.maps.Marker({
                map: map,
                position: new google.maps.LatLng(pos.coords.latitude, pos.coords.longitude),
                title: "Position actuelle",
            });
            // scroll to userLocation
            map.panTo(new google.maps.LatLng(pos.coords.latitude, pos.coords.longitude));
        }

        function watchCurrentPosition() {
            var positionTimer = navigator.geolocation.watchPosition(function (position) {
                /*if (!$("#recordSwitch").is(':checked')) {
                    setStatus("", "Enregistrement mis en pause...");
                    return
                }*/
                // setMarkerPosition(userLocation, position);
                var latLng = new google.maps.LatLng(position.coords.latitude, position.coords.longitude)
                map.panTo(latLng);

                var latitude = position.coords.latitude;
                var longitude = position.coords.longitude;
                var altitude = position.coords.altitude;
                var accuracy = position.coords.accuracy;
                var date = new Date(position.timestamp);

                if (accuracy <= 15) {
                    var path = current_location_poly.getPath();
                    path.push(latLng);

                    $.ajax("{% url 'localisation-list' %}", {
                        method: "POST",
                        data: {
                            "latitude": latitude,
                            "longitude": longitude,
                            "altitude": altitude,
                            "timestamp": date.toISOString(),
                            "trip": "{% url 'trip-detail' pk=trip.id %}"
                        }
                    })
                    setStatus("positive", "Enregistrement en cours...");
                } else {
                    setStatus("negative", "Précision insuffisante...");
                }
                $("#capa").html(`Latitude: ${latitude}\nLongitude: ${longitude}\nAltitude: ${altitude}\nAccuracy: ${accuracy}\nTimestamp: ${date}`);

            });
        }

        function setMarkerPosition(marker, position) {
            marker.setPosition(new google.maps.LatLng(position.coords.latitude, position.coords.longitude));
            console.log(position);
        }

    </script>


{% endblock %}